{{setTitle "Attach Cast"}}

<section id="attachCast">
    <div class="attachCastSection">
        <h1>Attach New Cast</h1>
        <div class="attach-form">
            <h2>{{movie.title}}</h2>
            <img class="movie" src="{{movie.imgUrl}}" alt="{{movie.title}}">
            <form method="POST">
                <div>
                    <label for="cast">Cast</label>
                    <select id="cast" name="actors">
                        <option value="none" selected>--------</option>
                        {{#each actors}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div>
                    <div id="align">
                        <label for="name-in-movie">Name in Movie</label>
                        <input type="text" id="name-in-movie" name="nameInMovie" />
                    </div>
                </div>
                <div id="center-btn">
                    <button id="create-btn">Add Cast</button>
                </div>
            </form>
        </div>
    </div>
</section>